{% extends 'layout.html' %}
{% block content %}
    {% for f in fantasies %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">{{ f.author }}</a>
                    <small class="text-muted">{{ f.date_posted }}</small>
                </div>
                <h2><a class="article-title" href="#">{{ f.type }}</a></h2>
                <p class="article-content">{{ f.content }}</p>
            </div>
        </article>
    {% endfor %}
{% endblock content %}
